<a href="https://colab.research.google.com/github/sharoonm99/learnpy/blob/main/TASK_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given a list l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]

Write a single line program to display.

a) elements at even index in the list.

b) remove the 3 middle elements (45, 22 and 56)

In [46]:
#please write the code below this line
list1=[23,45,25,78,90,45,22,56,99,12,9,75,32];
print (list1)
print("elements at even index in the list are")
for i in range(1,len(list1),2):
    print (list1[i])
print ("after deleting 3 middle elements")
del list1[5:8]
print (list1)

[23, 45, 25, 78, 90, 45, 22, 56, 99, 12, 9, 75, 32]
elements at even index in the list are
45
78
45
56
12
75
after deleting 3 middle elements
[23, 45, 25, 78, 90, 99, 12, 9, 75, 32]

2.Given a list lowerCase=['a', 'e', 'i', 'o', 'u']
Create a new list upperCase using list comprehension and copy the content of the lowerCase list, but in uppercase (capital letters). (upperCase should be ['A', 'E', 'I', 'O', 'U'])

In [6]:
#please write the code below this line
lowercase = [ ' a '  , ' e ' , ' i ' , ' o ' , ' u ' ] ;
uppercase = [x.upper() for x in lowercase];
print ( uppercase )

[' A ', ' E ', ' I ', ' O ', ' U ']

3.Given a tuple fruits = ("banana", "cherry", "apple", "grapes")
Create 3 variables yellow, red and green and assign them with fruits of their respective color.
(yellow="banana", red=["cherry", "apple"], green="grapes (hint- Use unpacking)

In [15]:
#please write the code below this line
fruit = ('banana','cherry','apple','grapes');
(yellow, *red ,green) = fruit
print ('yellow:' , yellow)
print ('red:' , red)
print ('green:', green)

yellow: banana
red: ['cherry', 'apple']
green: grapes