<a href="https://colab.research.google.com/github/sharoonm99/learnpy/blob/main/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [1]:
#please enter your answer below this line
for i in range(1000,2001):
  if(i%7==0 and i%11==0):
    print(i)

1001
1078
1155
1232
1309
1386
1463
1540
1617
1694
1771
1848
1925

2. Write a program to print this pattern

           #
          ## 
         ###

In [20]:
#please enter your answer below this line
for i in range (1,6):
  for k in range(1,6-i):
    print(" ",end="")
  for j in range(1,i+1):
    print("#",end="")
  print("\n")

    #

   ##

  ###

 ####

#####

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [52]:
#please enter your answer below this line
strings = ["apple", "orange", "apple", "banana"]

new_strings = []

for string in strings:
    new_string = string.replace("apple", "grapes")


    new_strings.append(new_string)



print(new_strings)

['grapes', 'orange', 'grapes', 'banana']